<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>speedometer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E1D68B41BBB2490008A6CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1D68C81BBB2490008A6CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1D68D31BBB2490008A6CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
